# GitHub Configuration
GITHUB_ORG=your-github-username
GITHUB_REPO=nlw20Agents

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=533267083060

# Project Configuration
TF_VAR_PREFIX=agents

# Database Configuration
TF_VAR_DB_PASSWORD=
DB_NAME=agents
DB_USERNAME=postgres